{% extends "base.html" %}

{% block title %}Page Home{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename = '/static/css/styles.css')}}"/>
{% endblock %}

{% block content %}
    <a class = "a1" href="/main2/">HOME</a> 
    <a class="a2" href="/shop/">SHOP</a>
    <a class="a3" href="/basket/">CART</a>
    <a class="a4" href="/contacts/">CONTACTS</a>
    <a class="a5" href="/admin/">ADMIN</a>
    {% for product in products %}

                
        <img class = "img{{ product.id }}" src="{{ url_for('shop.static', filename= 'static/images/' + product.image) }}" alt="shop">
        <div class="div{{ product.id }}">
            <p class = "p{{ product.id }}_1">{{ product.name }}</p>
            <p class = "p{{ product.id }}_2"><del>{{ product.price }} грн</del></p>
            <p class = "disc_{{ product.id }}">Знижка 19%</p>
            <p class = "final_price_{{ product.id }}">{{ product.final_price }} грн</p>
            <button class = "button{{ product.id }}_3"  onclick="javascript:indicator(); javascript:buy_product.id();javascript:counter()">КУПИТИ</button>
            <p class = "p{{ product.id }}_4">Ємність:</p>
            <p class = "p{{ product.id }}_5"></p>
            <p class="p{{ product.id }}_5_1">256 Гб</p>
            <p class = "p{{ product.id }}_6"></p>
            <p class="p{{ product.id }}_6_1">512 Гб</p>
            <p class = "p{{ product.id }}_7"></p>
            <p class="p{{ product.id }}_7_1">1 Тб</p>

        </div>


    {% endfor %}

    

    <p class = "count" id = "count"></p>

    <p class="border" id="border"></p>


    <script>

        var count = 0
        let current_cookie = document.cookie.split("=")[1]


              
        function counter(){
            count++;
            var outputElement = document.getElementById("count")
            if (current_cookie.split(" ").length > 9){
                outputElement.style.left = "477px"
            }
            
            if (count >= 100){
                count -= 1 
            }

            outputElement.textContent = current_cookie.split(" ").length
        }
        
        function indicator(){
            var element = document.getElementById("border")

            element.style.display = "block"

        }



        function buy_1(){
            current_cookie += "1" + " "
            document.cookie = `product = ${current_cookie}; path = /`        
            console.log(current_cookie)
        }

        function buy_2(){
            current_cookie += "2" + " "
            document.cookie = `product = ${current_cookie}; path = /`
            console.log(current_cookie)
        }

    
        function buy_3(){
            current_cookie += "3" + " "
            document.cookie = `product = ${current_cookie}; path = /`
            console.log(current_cookie)
        }

        let price1 = document.getElementsByClassName("p1_1")
        let discount1 = document.getElementsByClassName()

    </script>

{% endblock %}