{% extends "base.html" %}

{% block title %}Page Home{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('order.static', filename = '/static/css/styles.css')}}"/>
{% endblock %}

{% block content %}

    <h2>{{log}}</h2>
    <a class = "a1" href="/">HOME</a>
    <a class="a2" href="/shop/">SHOP</a>
    <a class="a3" href="/basket/">CART</a>
    <a class="a4" href="/contacts/">CONTACTS</a>
    <a class="a5" href="/admin/">ADMIN</a>

    <form method="POST" enctype="multipart/form-data" id="Form">

        <div id = "ramkaNameModal">
            <p class = "NameTextModal">ІМ'Я:</p>
            <input type="text" id="Name" class="fileInput1">
        </div>

        <div id = "ramkaLastnameModal">
            <p class = "textLastnameModal">ПРИЗВИЩЕ:</p>
            <input type="text" class ="inputLastnameModal" name="Lastname">
        </div>

        <div id = "ramkaPhoneModal">
            <p class = "textPhoneModal">ТЕЛЕФОН ЗАМОВНИКА:</p>
            <input type="text" class ="inputPhoneModal" name="Phone">
        </div>

        <div id = "ramkaEmailModal">
            <p class = "textEmailModal">EMAIL ЗАМОВНИКА:</p>
            <input type="text" class ="inputEmailModal" name="Email">
        </div>


        <div id = "ramkaTownModal">
            <p class = "textTownModal">МІСТО ОТРИМУВАЧА:</p>
            <input type="text" class ="inputTownModal" name="Town">
        </div>

    
        <div id = "ramkaNovaPostaModal">
            <p class = "textNovaPostaModal">ВІДДІЛЕННЯ НОВОЇ ПОШТИ:</p>
            <input type="text" class ="inputNovaPostaModal" name="NovaPosta">
        </div>    

        <div id = "ramkaAdditionalModal">
            <p class = "textAdditionalModal">ДОДАТКОВІ ПОБАЖАННЯ:</p>
            <textarea type="text" class ="inputAdditionalModal" name="Additional"></textarea>
        </div>    

        <p id="BorderModal"> </p>
        <button id="ButtonModal">SEND</button>
    </form>


    {% for product in products %}

        <img src="{{ url_for('shop.static', filename= 'static/images/' + product.image) }}" alt="basket" class="img{{product.id}}">


        <p class="product{{product.id}}">{{ product.name }}...</p>


        <p class="price{{product.id}}">{{ product.price }} грн</p>

    
        <p class="border{{product.id}}"></p>
 

    {% endfor %}

    <button class = "order">ПЕРЕЙТИ ДО ОФОРМЛЕННЯ</button>


    <p class="border" id="border"></p>
    



{% endblock %}