{% extends "base.html" %}

{% block title %}Page Home{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename = '/static/css/styles.css')}}"/>
{% endblock %}

{% block content %}

    <h2>{{log}}</h2>
    <a class = "a1" href="/main2/">HOME</a>
    <a class="a2" href="/shop/">SHOP</a>
    <a class="a3" href="/basket/">CART</a>
    <a class="a4" href="/contacts/">CONTACTS</a>
    <a class="a5" href="/admin/">ADMIN</a>

    <form method="post">
        <button class = "add_btn" name="add_btn">ДОДАТИ ПРОДУКТ</button>
        <img src="{{ url_for('admin.static', filename = '/static/images/add.png')}}" alt = "admin" class = "add_img">
    </form>



    {% for product in products %}

        
        <img class = "img{{ product.id }}" src="{{ url_for('shop.static', filename= 'static/images/' + product.image) }}" alt="shop">
        <div class="div{{ product.id }}">
            <p class = "p{{ product.id }}_1">{{ product.name }}</p>
            <p class = "p{{ product.id }}_2"><del>{{ product.price }} грн</del></p>
            <p class = "disc_{{ product.id }}">Знижка 19%</p>
            <p class = "final_price_{{ product.id }}">{{ product.final_price }} грн</p>
            <button class = "button{{ product.id }}_3">КУПИТИ</button>
            <p class = "p{{ product.id }}_4">Ємність:</p>
            <p class = "p{{ product.id }}_5"></p>
            <p class="p{{ product.id }}_5_1">256 Гб</p>
            <p class = "p{{ product.id }}_6"></p>
            <p class="p{{ product.id }}_6_1">512 Гб</p>
            <p class = "p{{ product.id }}_7"></p>
            <p class="p{{ product.id }}_7_1">1 Тб</p>
            <form method="post">
                <button class = "p{{ product.id }}_8" name="delete" value = "{{ product.id }}">ВИДАЛИТИ ТОВАР</button>
            
                <img class = "img{{ product.id + 3}}" src="{{ url_for('admin.static', filename= 'static/images/delete.png') }}" alt="in_the_open1">

                <button type = "submit" class = "btns" name = "rewrite" value= "rewrite1-{{ product.id }}" ><img class = "rewrite1-{{ product.id }}" id = "rewrite_btn" alt="in_the_open1" name = "rewrite1" src="{{ url_for('shop.static', filename= 'static/images/image3.png') }}"></button>
                <button type = "submit" class = "btns" name = "rewrite" value= "rewrite2-{{ product.id }}" ><img class = "rewrite2-{{ product.id }}" id = "rewrite_btn" alt="in_the_open1" name = "rewrite2" src="{{ url_for('shop.static', filename= 'static/images/image3.png') }}"></button>
                <button type = "submit" class = "btns" name = "rewrite" value= "rewrite3-{{ product.id }}" ><img class = "rewrite3-{{ product.id }}" id = "rewrite_btn" alt="in_the_open1" name = "rewrite3" src="{{ url_for('shop.static', filename= 'static/images/image3.png') }}"></button> 
                <button type = "submit" class = "btns" name = "rewrite" value= "rewrite4-{{ product.id }}" ><img class = "rewrite4-{{ product.id }}" id = "rewrite_btn" alt="in_the_open1" name = "rewrite4" src="{{ url_for('shop.static', filename= 'static/images/image3.png') }}"></button>
                <button type = "submit" class = "btns" name = "rewrite" value= "rewrite5-{{ product.id }}" ><img class = "rewrite5-{{ product.id }}" id = "rewrite_btn" alt="in_the_open1" name = "rewrite5" src="{{ url_for('shop.static', filename= 'static/images/image3.png') }}"></button>
                <button type = "submit" class = "btns" name = "rewrite" value= "rewrite6-{{ product.id }}" ><img class = "rewrite6-{{ product.id }}" id = "rewrite_btn" alt="in_the_open1" name = "rewrite6" src="{{ url_for('shop.static', filename= 'static/images/image3.png') }}"></button>
            </form>
        </div>


    {% endfor %}



    


    <p class = "count" id = "count"></p>

    <p class="border" id="border"></p>


{% endblock %}