{% extends "base.html" %}

{% block title %}Page Home{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('redact.static', filename = '/static/css/styles.css')}}"/>
{% endblock %}

{% block content %}

    <h2>{{log}}</h2>
    <a class = "a1" href="http://127.0.0.1:5000/main2/">HOME</a>
    <a class="a2" href="http://127.0.0.1:5000/shop/">SHOP</a>
    <a class="a3" href="http://127.0.0.1:5000/basket/">CART</a>
    <a class="a4" href="http://127.0.0.1:5000/contacts/">CONTACTS</a>
    <a class="a5" href="http://127.0.0.1:5000/admin/">ADMIN</a>



    {% if flag == "rewrite3-1" or flag == "rewrite3-2" or flag == "rewrite3-3" %}
        <form method="POST" enctype="multipart/form-data" id="Form">
            {% if flag == "rewrite3-1" %}
                <input type="file" accept="image/*" id="File" name="fileInput1">
            {% endif %}
            {% if flag == "rewrite3-2" %}
                <input type="file" accept="image/*" id="File" name="fileInput2">
            {% endif %}
            {% if flag == "rewrite3-3" %}
                <input type="file" accept="image/*" id="File" name="fileInput3">
            {% endif %}
            <p id="BorderModal"> </p>
            <button id="ButtonModal">SEND</button>
        </form>

    {% else %}

        <form method="POST" id="Form">
            <p id="BorderModal"> </p>
            <p id = "TextModal">CHANGE TEXT:</p>
            <input id="InputModal" name="InputModal">
            <button id="ButtonModal">SEND</button>
        </form>
    {% endif %}
    <p>{{ flag }}</p>


    {% for product in products %}

        
        <img class = "img{{ product.id }}" src="{{ url_for('shop.static', filename= 'static/images/' + product.image) }}" alt="shop">
        <div class="div{{ product.id }}">
            <p class = "p{{ product.id }}_1">{{ product.name }}</p>
            <p class = "p{{ product.id }}_2"><del>{{ product.price }} грн</del></p>
            <p class = "disc_{{ product.id }}">Знижка 19%</p>
            <p class = "final_price_{{ product.id }}">{{ product.final_price }} грн</p>
            <button class = "button{{ product.id }}_3"  onclick="javascript:indicator(); javascript:buy_product.id();javascript:counter()">КУПИТИ</button>
            <p class = "p{{ product.id }}_4">Ємність:</p>
            <p class = "p{{ product.id }}_5"></p>
            <p class="p{{ product.id }}_5_1">256 Гб</p>
            <p class = "p{{ product.id }}_6"></p>
            <p class="p{{ product.id }}_6_1">512 Гб</p>
            <p class = "p{{ product.id }}_7"></p>
            <p class="p{{ product.id }}_7_1">1 Тб</p>
        </div>
    <!-- 
        <img class = "img2" src="{{ url_for('redact.static', filename= 'static/images/image.png') }}" alt="redact">
        <div class="div2">
            <p class = "p2_1">iPhone 15 Pro Max 512GB Natural Titanium</p>
            <p class = "p2_2"><del>56 999 грн</del></p>
            <p class = "disc_2">Знижка 19%</p>
            <p class = "final_price_2">10 830 грн</p>
            <button class = "button2_3"  onclick="javascript:indicator(); javascript:buy_2();javascript:counter()">КУПИТИ</button>
            <p class = "p2_4">Ємність:</p>
            <p class = "p2_5"></p>
            <p class="p2_5_1">256 Гб</p>
            <p class = "p2_6"></p>
            <p class="p2_6_1">512 Гб</p>
            <p class = "p2_7"></p>
            <p class="p2_7_1">1 Тб</p>
            <p class = "p2_8">ТОВАР В НАЯВНОСТІ</p>
        </div>

        <img class = "img3" src="{{ url_for('redact.static', filename= 'static/images/image.png') }}" alt="redact">
        <div class = "div3">
            <p class = "p3_1">iPhone 15 Pro Max 512GB Natural Titanium</p>
            <p class = "p3_2"><del>66 999 грн</del></p>
            <p class = "disc_3">Знижка 19%</p>
            <p class = "final_price_3">12 730 грн</p>
            <button class = "button3_3" onclick="javascript:indicator(); javascript:buy_3();javascript:counter()">КУПИТИ</button>
            <p class = "p3_4">Ємність:</p>
            <p class = "p3_5"></p>
            <p class="p3_5_1">256 Гб</p>
            <p class = "p3_6"></p>
            <p class="p3_6_1">512 Гб</p>
            <p class = "p3_7"></p>
            <p class="p3_7_1">1 Тб</p>
            <p class = "p3_8">ТОВАР В НАЯВНОСТІ</p>    
        </div> -->

    {% endfor %}



    

    <img class = "img4" src="{{ url_for('redact.static', filename= 'static/images/image2.png') }}" alt="in_the_open1">

    <img class = "img5" src="{{ url_for('redact.static', filename= 'static/images/image2.png') }}" alt="in_the_open1">

    <img class = "img6" src="{{ url_for('redact.static', filename= 'static/images/image2.png') }}" alt="in_the_open1">

    <p class = "count" id = "count"></p>

    <p class="border" id="border"></p>


    <form method="POST">
        
        <button type = "submit" class = "btns" name = "rewrite" ><img class = "rewrite1" id = "rewrite_btn" alt="in_the_open1" name = "rewrite1" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite  " ><img class = "rewrite2" id = "rewrite_btn" alt="in_the_open1" name = "rewrite2" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite" ><img class = "rewrite3" id = "rewrite_btn" alt="in_the_open1" name = "rewrite3" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button> 
        <button type = "submit" class = "btns" name = "rewrite" ><img class = "rewrite4" id = "rewrite_btn" alt="in_the_open1" name = "rewrite4" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite" ><img class = "rewrite5" id = "rewrite_btn" alt="in_the_open1" name = "rewrite5" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite" ><img class = "rewrite6" id = "rewrite_btn" alt="in_the_open1" name = "rewrite6" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite" ><img class = "rewrite7" id = "rewrite_btn" alt="in_the_open1" name = "rewrite7" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite" ><img class = "rewrite9" id = "rewrite_btn" alt="in_the_open1" name = "rewrite9" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite10" id = "rewrite_btn" alt="in_the_open1" name = "rewrite10" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite11" id = "rewrite_btn" alt="in_the_open1" name = "rewrite11" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite12" id = "rewrite_btn" alt="in_the_open1" name = "rewrite12" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite13" id = "rewrite_btn" alt="in_the_open1" name = "rewrite13" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite14" id = "rewrite_btn" alt="in_the_open1" name = "rewrite14" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite15" id = "rewrite_btn" alt="in_the_open1" name = "rewrite15" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite16" id = "rewrite_btn" alt="in_the_open1" name = "rewrite16" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite17" id = "rewrite_btn" alt="in_the_open1" name = "rewrite17" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite18" id = "rewrite_btn" alt="in_the_open1" name = "rewrite18" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>
        <button type = "submit" class = "btns" name = "rewrite"><img class = "rewrite21" id = "rewrite_btn" alt="in_the_open1" name = "rewrite21" src="{{ url_for('redact.static', filename= 'static/images/image3.png') }}"></button>

    </form>
    <script>

        var count = 0
        let current_cookie = document.cookie.split("=")[1]


              
        function counter(){
            count++;
            var outputElement = document.getElementById("count")
            if (current_cookie.split(" ").length > 9){
                outputElement.style.left = "477px"
            }
            
            if (count >= 100){
                count -= 1 
            }

            outputElement.textContent = current_cookie.split(" ").length
        }
        
        function indicator(){
            var element = document.getElementById("border")

            element.style.display = "block"

        }



        function buy_1(){
            current_cookie += "1" + " "
            document.cookie = `product = ${current_cookie}; path = /`        
            console.log(current_cookie)
        }

        function buy_2(){
            current_cookie += "2" + " "
            document.cookie = `product = ${current_cookie}; path = /`
            console.log(current_cookie)
        }


    
        function buy_3(){
            current_cookie += "3" + " "
            document.cookie = `product = ${current_cookie}; path = /`
            console.log(current_cookie)
        }

        

    </script>

{% endblock %}