p{
    margin-left: 35%;
    margin-top: 400;
    font-size : 100 ;
    font-family: sans-serif;
}


.a1{

    margin-top: 0;
    margin-left: 1500;
    color: #000000;
    position: relative;
    font-size: 24;

}

.a2{
    margin-top: 0;
    margin-left: 30;
    color: #000000;
    font-size: 24;

}


