h2{
    position: absolute;
    left: 1800px;
    top:-15;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24;
}

.order{
    width: 374;
    height: 104;
    background-color: #EFCB4A;
    font-size: 22;
    font-family: sans-serif;
    font-weight: 700;
    border: 1 px solid black;
    border-radius: 15px;
    position: absolute;
    left: 1325  ;
    top: 175;
}

.count{
    position: absolute;
    font-weight: 700;
    font-size: 20;
    font-family: sans-serif;
    z-index: 999;
    top: 1px;
    left: 477;
}

.border{
    position: absolute;
    left: 467;
    top: -13;
    width: 40;
    height: 40;
    background-color: #EFCB4A;
    border-radius: 50%;
    border: 1px solid black;
}


p{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24;
    width: 285;
}


.a1{
    position: absolute;
    top: 5;
    left: 50;
    color: #000000;
    text-decoration: none;
    font-size: 24;
    font-family: sans-serif;


}

.a2{
    position: absolute;
    top: 5;
    left: 225;
    color: #000000;
    font-size: 24;
    font-family: sans-serif;
    text-decoration: none;
}

.a3{
    position: absolute;
    top: 5;
    left: 400;
    color: #000000;
    font-size: 24;
    font-family: sans-serif;
    font-weight: 700;
}

.a4{
    position: absolute;
    top: 5;
    left: 550;
    color: #000000;
    text-decoration: none;
    font-size: 24;
    font-family: sans-serif;


}


.a5{
    position: absolute;
    top: 5;
    left: 750;
    color: #000000;
    text-decoration: none;
    font-size: 24;
    font-family: sans-serif;
}

.p1{
    position: absolute;
    left: 650;
    top: 200;
}

.p2{
    position: absolute;
    left: 650;
    top: 400;
    
}

.p3{
    position: absolute;
    left: 650;
    top: 600;
    
}

.button1-{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 589;
    top: 215;
    z-index: 999;
}

.button2-{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 589;
    top: 415;
    z-index: 999;
}

.button3-{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 589;
    top: 615;
    z-index: 999;

}


.button1{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 689;
    top: 215;
    z-index: 999;
}

.button2{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 689;
    top: 415;
    z-index: 999;
}

.button3{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 689;
    top: 615;
    z-index: 999;
}

img{
    width: 150;
    height: 180;
}

.product1{
    position: absolute;
    text-align: center;
    left: 300;
    top: 160;
    font-family: sans-serif;
    font-size: 28;

}


.product2{
    position: absolute;
    text-align: center;
    left: 300;
    top: 360;
    font-family: sans-serif;
    font-size: 28;
    
}

.product3{
    position: absolute;
    text-align: center;
    left: 300;
    top: 560;
    font-family: sans-serif;
    font-size: 28;
    
}

.img1{
    position: absolute;
    left: 150;
    top: 150;
    
}

.img2{
    position: absolute;
    left: 150;
    top: 350;
}

.img3{
    position: absolute;
    left: 150;
    top: 550;
}

.price1{
    position: absolute;
    top: 200;
    left: 750;
}

.price2{
    position: absolute;
    top: 400;
    left: 750;
}

.price3{
    position: absolute;
    top: 600;
    left: 750;
}

.border1{
    position: absolute;
    height: 180;
    left: 900;
    top: 120;
    border-left: 3px solid black;
}

.border2{
    position: absolute;
    height: 180;
    left: 900;
    top: 320;
    border-left: 3px solid black;
}

.border3{
    position: absolute;
    height: 180;
    left: 900;
    top: 520;
    border-left: 3px solid black;
}

.h1_1{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1300;
    top: 300;
}

.h1_2{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1600;
    top: 300;
}

.h1_3{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1300;
    top: 350;
}

.h1_4{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1600;
    top: 350;
}

.h1_5{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 800;
    position: absolute;
    left: 1300;
    top: 400;
}

.h1_6{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 800;
    position: absolute;
    left: 1600;
    top: 400;
}







.imageTextModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -60;
    z-index: 1000;
}

#ramkaNameModal{
    position: absolute;
    width: 450;
    height: 75;
    left: 740;
    top: 125;
    border: 2px solid black;
    z-index: 1000;
    border-radius: 15px;
}

#Name{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    border: 2px solid black;
}


#ramkaNameModal{
    position: absolute;
    width: 450;
    height: 75;
    left: 720;
    top: 175;
    z-index: 1000;
}

.NameTextModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -70;
    z-index: 1000;

}

.inputNameProduct{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
}


#ramkaLastnameModal{
    position: absolute;
    width: 450;
    height: 75;
    top: -100;
    left: -2;
    z-index: 1000;
    border-radius: 15px;
    
}

.textLastnameModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    z-index: 1000;
    left: 720;
    top: 355;

}
    
.inputLastnameModal{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    left: 720;
    top: 420;
    
}


#ramkaPhoneProduct{
    position: absolute;
    width: 450;
    height: 75;
    left: -2;
    z-index: 1000;
    border-radius: 15px;
}

.textPhoneModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -0;
    z-index: 1000;
    left: 720;
    top: 390;

}
    
.inputPhoneModal{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    left: 720;
    top: 460;
}



#ramkaProduct{
    position: absolute;
    width: 450;
    height: 75;
    left: -2;
    z-index: 1000;
    border-radius: 15px;
}

.textModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -0;
    z-index: 1000;
    left: 720;
    top: 520;

}
    
.inputModal{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    left: 720;
    top: 600;
}




#ramkaEmailProduct{
    position: absolute;
    width: 450;
    height: 75;
    left: -2;
    z-index: 1000;
    border-radius: 15px;
}

.textEmailModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -0;
    z-index: 1000;
    left: 720;
    top: 520;

}
    
.inputEmailModal{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    left: 720;
    top: 600;
}

#ramkaTownProduct{
    position: absolute;
    width: 450;
    height: 75;
    left: -2;
    z-index: 1000;
    border-radius: 15px;
}

.textTownModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -0;
    z-index: 1000;
    left: 720;
    top: 660;

}
    
.inputTownModal{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    left: 720;
    top: 720;
}



#ramkaNovaPostaProduct{
    position: absolute;
    width: 450;
    height: 75;
    left: -2;
    z-index: 1000;
    border-radius: 15px;
}

.textNovaPostaModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -0;
    z-index: 1000;
    left: 720;
    top: 780 ;

}
    
.inputNovaPostaModal{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    left: 720;
    top: 840;
}



#ramkaAdditionalProduct{
    position: absolute;
    width: 450;
    height: 75;
    left: -2;
    z-index: 1000;
    border-radius: 15px;
}

.textAdditionalModal{
    position: absolute;
    width: 450;
    height: 30;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 25;
    top: -0;
    z-index: 1000;
    left: 720;
    top: 900 ;

}
    
.inputAdditionalModal{
    position: absolute;
    z-index: 1000;
    font-size: 25;
    width: 450;
    height: 75;
    border-radius: 15px;
    left: 720;
    top: 970;
}




#ButtonModal{
    position: absolute;
    width: 400;
    height: 50;
    font-family: sans-serif;
    font-size: 25;
    z-index: 1000;
    left: 750;
    top: 1175;
    text-decoration: underline;
    border: none;
    background-color: white;

}



#BorderModal{
    position: absolute;
    border: 3px solid black;
    border-radius: 25px;
    width: 700;
    height: 1200;
    z-index: 999;
    background-color: white;
    left: 600;
    top: 50;
}



body *:not(#Form):not(#BorderModal):not(#InputModal):not(#TextModal):not(#ButtonModal):not(#ramkaNameModal):not(.NameTextModal):not(#Name):not(#ramkaNameModal):not(.textNameModal):not(.inputNameModal):not(#ramkaLastnameModal):not(.textLastnameModal):not(.inputLastnameModal):not(#ramkaPhoneModal):not(.inputPhoneModal):not(.textPhoneModal):not(#ramkaEmailModal):not(.inputEmailModal):not(.textEmailModal):not(#ramkaTownModal):not(.inputTownModal):not(.textTownModal):not(#ramkaNovaPostaModal):not(.inputNovaPostaModal):not(.textNovaPostaModal):not(#ramkaAdditionalModal):not(.inputAdditionalModal):not(.textAdditionalModal){
    filter: blur(2px);
    pointer-events: none;
}