h2{
    position: absolute;
    left: 1800px;
    top:-15;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24;
}

.order{
    width: 374;
    height: 104;
    background-color: #EFCB4A;
    font-size: 22;
    font-family: sans-serif;
    font-weight: 700;
    border: 1 px solid black;
    border-radius: 15px;
    position: absolute;
    left: 1325  ;
    top: 175;
}

.count{
    position: absolute;
    font-weight: 700;
    font-size: 20;
    font-family: sans-serif;
    z-index: 999;
    top: 1px;
    left: 477;
}

.border{
    position: absolute;
    left: 467;
    top: -13;
    width: 40;
    height: 40;
    background-color: #EFCB4A;
    border-radius: 50%;
    border: 1px solid black;
}


p{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24;
    width: 285;
}


.a1{
    position: absolute;
    top: 5;
    left: 50;
    color: #000000;
    text-decoration: none;
    font-size: 24;
    font-family: sans-serif;


}

.a2{
    position: absolute;
    top: 5;
    left: 225;
    color: #000000;
    font-size: 24;
    font-family: sans-serif;
    text-decoration: none;
}

.a3{
    position: absolute;
    top: 5;
    left: 400;
    color: #000000;
    font-size: 24;
    font-family: sans-serif;
    font-weight: 700;
}

.a4{
    position: absolute;
    top: 5;
    left: 550;
    color: #000000;
    text-decoration: none;
    font-size: 24;
    font-family: sans-serif;


}


.p1{
    position: absolute;
    left: 650;
    top: 200;
}

.p2{
    position: absolute;
    left: 650;
    top: 400;
    
}

.p3{
    position: absolute;
    left: 650;
    top: 600;
    
}

.button1-{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 589;
    top: 215;
    z-index: 999;
}

.button2-{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 589;
    top: 415;
    z-index: 999;
}

.button3-{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 589;
    top: 615;
    z-index: 999;

}


.button1{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 689;
    top: 215;
    z-index: 999;
}

.button2{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 689;
    top: 415;
    z-index: 999;
}

.button3{
    position: absolute;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    font-size: 28;
    font-weight: 700;
    left: 689;
    top: 615;
    z-index: 999;
}

img{
    width: 150;
    height: 180;
}

.product1{
    position: absolute;
    text-align: center;
    left: 300;
    top: 160;
    font-family: sans-serif;
    font-size: 28;

}


.product2{
    position: absolute;
    text-align: center;
    left: 300;
    top: 360;
    font-family: sans-serif;
    font-size: 28;
    
}

.product3{
    position: absolute;
    text-align: center;
    left: 300;
    top: 560;
    font-family: sans-serif;
    font-size: 28;
    
}

.img1{
    position: absolute;
    left: 150;
    top: 150;
    
}

.img2{
    position: absolute;
    left: 150;
    top: 350;
}

.img3{
    position: absolute;
    left: 150;
    top: 550;
}

.price1{
    position: absolute;
    top: 200;
    left: 750;
}

.price2{
    position: absolute;
    top: 400;
    left: 750;
}

.price3{
    position: absolute;
    top: 600;
    left: 750;
}

.border1{
    position: absolute;
    height: 180;
    left: 900;
    top: 120;
    border-left: 3px solid black;
}

.border2{
    position: absolute;
    height: 180;
    left: 900;
    top: 320;
    border-left: 3px solid black;
}

.border3{
    position: absolute;
    height: 180;
    left: 900;
    top: 520;
    border-left: 3px solid black;
}

.h1_1{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1300;
    top: 300;
}

.h1_2{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1600;
    top: 300;
}

.h1_3{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1300;
    top: 350;
}

.h1_4{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 700;
    position: absolute;
    left: 1600;
    top: 350;
}

.h1_5{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 800;
    position: absolute;
    left: 1300;
    top: 400;
}

.h1_6{
    font-family: sans-serif;
    font-size: 24;
    font-weight: 800;
    position: absolute;
    left: 1600;
    top: 400;
}